html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #e7e9e6;
    color: #212529;
}

h1 {
    margin: 0;
}

a {
    color: #212529;
}

.hero { 
    background-image: url('https://images.unsplash.com/photo-1644263065043-0997c22ba3a2?q=80&w=2232&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 450px;
    background-size: cover;
    background-position: center;    
}

#hero-title {
    font-size: 60px;
    color: #ffffff;
    padding-top: 110px;
    padding-bottom: 0;
    text-shadow: 0px 0px 10px #000000;
}

#hero-subtitle {
    color: #ffffff;
    padding-top: 0px;
    font-size: 30px;
    text-shadow: 0px 0px 5px #000000;
}

#things-to-do, #things-to-see, #getting-here {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.things {
    width: 325px;
    height: 350px;
    margin: 0 20px;
    padding: 20px;
}

.things-2 {
    width: 325px;
    height: 100px;
    margin: 0 20px;
    padding: 20px;
}

p {
    width: 275px;
    margin: 0 auto;
}

.things:hover {
    background-color: #9cafb7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.thing-icon {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.getting-here {
    font-size: 22px;
    margin-top: 40px;
}

#getting-here {
    margin-bottom: 150px;
}